:root {
    --default-margin: 0.5em;
    --color-palette-1: #b8aa14;
    --color-palette-2: #a39929;
    --color-palette-3: #d6cc5c;
    --color-palette-4: #f5eea3;
    --color-palette-5: #faf29e;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    color: white;
}

.kontener {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 300px auto auto;
    grid-template-areas: "header header header"
                         "aside  main   section"
                         "footer footer footer";
    gap: var(--default-margin);
}

.naglowek {
    grid-area: header;
    background-color: var(--color-palette-1);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

.naglowek > h1 {
    margin: var(--default-margin);
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: var(--default-margin);
    margin-left: var(--default-margin);
}

nav > ul > li {
    list-style: none;
    background-color: var(--color-palette-5);
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--color-palette-1);
    font-weight: bold;
}

.bok1 {
    grid-area: aside;
    background-color: var(--color-palette-4);
    display: flex;
    flex-direction: column;
    padding: var(--default-margin);
}

.bok1 > img {
    aspect-ratio: 1;
    width: 5rem;
}

.sekcja1 {
    grid-area: main;
    background-color: var(--color-palette-3);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 1rem;
}

article > h2 {
    text-align: center;
}

.sekcja2 {
    grid-area: section;
    background-color: var(--color-palette-2);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 1rem;
    padding: 1rem;
}

.stopka {
    grid-area: footer;
    background-color: var(--color-palette-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--default-margin);
}